@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<style>
    .graph-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }

    .graph-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0
    }

    	body {
		    font-family: "Lato", sans-serif;

		}

		.sidenav {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    background-color: #111;
		    overflow-x: hidden;
		    transition: 0.5s;
		    padding-top: 60px;

		}

		.sidenav a {
		    padding: 8px 8px 8px 32px;
		    text-decoration: none;
		    font-size: 25px;
		    color: #818181;
		    display: block;
		    transition: 0.3s;
		}

		.sidenav a:hover {
		    color: #f1f1f1;
		}

		.sidenav .closebtn {
		    position: absolute;
		    top: 0;
		    right: 25px;
		    font-size: 36px;
		    margin-left: 50px;
		}
                    #main {
		    transition: margin-left .5s;
		    padding: 16px;
		}
		

	        body { margin:0;
		font-family: sans-serif;}
.hero-image { background-image: url("~/img/a.jpg"); background-color: #cccccc; height: 600px; background-position: center; background-repeat: no-repeat; background-size: cover; -webkit-background-size: cover; overflow: hidden; position: relative; }
		  .hero-text {
		  text-align: center;
		  position: absolute;
		  top: 50%;
		  left: 50%;

		  transform: translate(-50%, -50%);

}

</style>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

        #myBtn:hover {
            background-color: #555;
        }
</style>

<button onclick="topFunction()" id="myBtn" title="Go to top">Go to Top</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<br />
<br />
<div class="row" style="margin:20px">


    <div class="col-lg-6"  style="align-content:center;">

        <iframe  src="@Url.Content("~/HTML/9charges.html")" 
                style="height: 600px;width:100%; float: right;" height="600" width="100%" scrolling="no"
                align="right"></iframe>
    </div>
    <div class="col-lg-6">
        <iframe  src="@Url.Content("~/HTML/pic.html")" 
                style="height: 600px;width:100%; float: left;" height="600" width="100%" scrolling="no"
                align="left"></iframe>
    </div>
</div>

<div class="row" style="margin:20px" >
    <div class="col-lg-6">
        <iframe src="@Url.Content("~/HTML/experience-abuse.html")" frameborder="0" scrolling="no"
                style="height: 600px;
                                            width: 100%; float: left; " height="600" width=100%
                align="left"></iframe>
    </div>

    <div class="col-lg-6">
        <p align="left" style="font-size:30px;color:steelblue;"><strong><i class="fa fa-pie-chart" style="font-size:48px;"></i> Data Analysis of abuse experienced</strong></p>
        <br>
        <p align="left" style="font-size:22px;">
            As we can see from the visualization that men have most numbers of actual reported cases than women for physical abuse (maybe it is because men are not allowed to hit women that is why men experience more physical violence) while women have the most numbers of actual reported cases for harassment. it also shows another insight that women experience almost double the number of harassment as compared to men.
        </p>
    </div>
</div>


<div class="row" style="margin-left:20px;">

    <div class="col-lg-6" style="background-color:#e9ecef;" >
        <p align="center" style="font-size:25px;color:steelblue;"><strong> Physical & Psychological Abuse analysis</strong></p>
        <br>
        <p style="font-size:22px">
            In Victoria, the most common concerns raised in relation to elder abuse were about <b>financial abuse</b> (61%) and <b>psychological</b> or <b>emotional abuse</b> (59%). Physical abuse was raised much less frequently (16%), as were social abuse (9%), neglect (1%) and sexual abuse (0.4%). Elder abuse issues were most commonly reported in relation to female victims (73% females cf. 28% males). 
           It can be seen from the donut chart that emotional abuse is more common in elders while physical abuse is more common in the age range of 25-34, basically when human beings are in the prime of their life. This happens because elders do not have the energy to inflict physical harm upon each other as compared to when they were young.
        </p>

    </div>
    <div class="col-lg-6">
        <iframe src="@Url.Content("~/HTML/doughnut.html")" frameborder="0" scrolling="no"
                style="height: 550px;
                                            width: 100%; align-content:center; " height="600" width="100%"
                align="bottom"></iframe>
    </div>
</div>


<style>
    div.ex1 {
        width: "100%";
        height: 400px;
        overflow: auto;
    }
</style>

<div class="row" style="margin:20px;">
    <div class="col-lg-4" style="background-color:#e9ecef;">
        <p align="center" style="font-size:30px;color:steelblue;"><strong>Sexual Abuse by gender</strong></p>
        <br>
        <p style="font-size:22px;">
            As we can see from the bar chart that sexual harassment cases are on the rise on both the sexes i.e male and female. we can also determine that for females, the number of reported cases of harassment is increasing more rapidly. According to the recently survey, the age range for “older women” in that study was 55 plus, and the analysis was framed to assess violence against women, focusing on sexual assault by any perpetrator, and partner violence involving physical assault, physical threat, sexual assault and sexual threat by a cohabiting or intimate partner.

        </p>

    </div>
    <div class="col-lg-8" style="margin:5px">

        <iframe src="@Url.Content("~/HTML/sexual-offence2.html")" frameborder="0" scrolling="no"
                style="height: 600px; width: 100%; float: right;" height="600" width="100%"
                align="right"></iframe>
    </div>

</div>
<div class="row" style="margin:20px">

    <div class="col-lg-6">

        <iframe src="@Url.Content("~/HTML/sexual-offence-location.html")" frameborder="0" scrolling="no"
                style="height: 500px;
                                            width: 100%; float: right; " height="500" width="100%"
                align="left"></iframe>
    </div>
    <div class="col-lg-6">
        <iframe src="@Url.Content("~/HTML/sexual-offence-residential.html")" frameborder="0" scrolling="no"
                style="height: 500px;
                                            width: 100%; float: right; " height="500" width="100%"
                align="right"></iframe>
    </div>

</div>

<div class="row" style="margin:20px">

    <div class="col-lg-7">

        <iframe src="@Url.Content("~/HTML/sexual-offence-other-locations.html")" frameborder="0" scrolling="no"
                style="height: 600px;width: 100%; float: right; " height="600" width="100%"
                align="right"></iframe>
    </div>
    <div class="col-lg-5" style="background-color:#e9ecef;">
        <p align="center" style="font-size:30px;color:steelblue;"><strong>Sexual Abuse analysis based on locations</strong></p>
        
        <p style="font-size:22px;">We can determine from the these charts that is pretty obvious that majority of the harassment cases occur in private dwellings. the magnitude of difference from other dwellings and public places is 10 times. it means harassment occurs 10 times in private dwellings as compared to non private dwellings and public places on average that it. we can also see that in public places educational institutes has the most reported numbers of harassment cases
        </p>

    </div>

</div>




	 