@model IEnumerable<ElderAbuse.Models.Question>
@Styles.Render("~/Content/quizStyle.css")

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questionnaire Result</h2>






<div style="font-size:30px">
    Based on the answers that you gave, there is a @ViewBag.Priority likelihood that you are
    <div class="answerArea" style="font:bold;font-size:40px;color:red; justify-content: center;text-align:center">@ViewBag.AbuseType</div>


</div>

<div style="font-size:30px;text-align:center">
    Would you like to further assess with more questions ? <br/>
    <input type="button" value="Yes" class="btn btn-success" onclick="location.href='@Url.Action("FurtherQuestions", "Questions")'" />
    &nbsp;&nbsp;&nbsp;<input type="button" value="No" class="btn btn-warning" onclick="location.href='@Url.Action("Postcode", "Questions", new { Likelihood = ViewBag.Priority, AbuseType = ViewBag.AbuseType })'" />



</div>
