@model NewModel

@{
    ViewBag.Title = "Questionnaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<div class="questionArea">
    <hr />
    <div class="questionNumber">
    </div>
    <div class="question">
        <span>  @Html.DisplayFor(model => model.question.QuestionId). &nbsp; @Html.DisplayFor(model => model.question.Question1)</span>
    </div>
</div>*@
@*<p>
    <div class="nextQuestion"> <span> @Html.ActionLink("Submit", "Questionnaire", new { id = Model.question.QuestionId + 1 }, new { @class = "btn btn-primary btn-lg" })</span></div><br /><br />
    <div class="previousQuestion">@Html.ActionLink("Previous", "Questionnaire", new { id = Model.question.QuestionId - 1 })</div>

</p>*@


@using (Html.BeginForm("Questionnaire", "Questions", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <div class="questionArea">
            <hr />
            <div class="questionNumber">
            </div>
            <div class="question">
                <span>  @Html.DisplayFor(newModel => newModel.questions.QuestionId). &nbsp; @Html.DisplayFor(newModel => newModel.questions.Question1)</span>
            </div>
        </div>

    </div>
    
    @Html.HiddenFor(newModel => newModel.responses.QuestionId, new { Value = @Model.questions.QuestionId})
    <div class="form-group question questionArea">
      
            @*@Html.EditorFor(newModel => newModel.responses.Answer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(newModel => newModel.responses.Answer, "", new { @class = "text-danger" })*@
            <span>
                <label> @Html.RadioButtonFor(newModel => newModel.responses.Answer, "1", new { @class = "class_radio" }) Yes</label>   &nbsp &nbsp &nbsp
                <label> @Html.RadioButtonFor(newModel => newModel.responses.Answer, "0", new { @class = "class_radio" }) No</label>
            </span>
        
    </div>

    <div class="form-group btn_area">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Next Question" class="btn btn-success" /><br />

        </div>
    </div>
</div>  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}