@*@Scripts.Render("~/Scripts/app.js")*@
@Styles.Render("~/Content/style.css")

@{
    ViewBag.Title = "Home Page";
}

<div id="content" class="cryout">

    <div id="container" class="fluida-landing-page one-column">
        <main id="main" role="main" class="main">

            <section class="lp-staticslider">
                <img class="lp-staticslider-image" alt="H.E.L.P" src="~/img/static.jpg" style="margin-top:70px;max-width:100%;height:auto"/>
                <div class="staticslider-caption">
                    <h2 class="staticslider-caption-title" style="font-size:4vw">H.E.L.P</h2>	
                    
                    <span class="staticslider-sep"></span>		
                    <div class="staticslider-caption-text"  style="font-size:3vw">Help Elders Live Peacefully</div>	
                    <div class="staticslider-caption-buttons">
                    </div>
                </div>
            </section><!-- .lp-staticslider -->
            <section>
                <div class="container">
                    <h2 style="text-align:center;font-size:30px"> Elder Abuse in the Society</h2>
                    <p class="lead" style="text-align:justify;max-width:1100px">
                        According to international statistics, it is likely that 2% to 10% of older Australians are experiencing elder abuse in any given year considering the prevalence of neglect being quite high.
                        The statistics show that most abuses are gone unreported due to the fact that the people do not know or understand that they are being abused.The elders affected by abuse are prone to physical, mental and financial problems. 
                        Here we provide an assessing tool that helps one to assess themselves or any elder that one knows, to understand the signs of abuse and to ensure that the abuse is reported or
                        circumvented.
<p><a class="btn btn-ghost" style="text-align: center;display:block;font-size:20px" href="@Url.Action("Index","Information")">Read more</a></p>
                </div>
            </section>

            <section id="lp-blocks1" class="lp-blocks lp-blocks1 lp-blocks-rows-2" style="background-color:#FAFBFC">
                <div class="lp-blocks-inside">
                    <div class="lp-block block1">
                        <i class="glyphicon glyphicon-question-sign"></i>
                        <a href="@Url.Action("Questionnaire","Questions", new { id = 1 }) ">
                            <div class="lp-block-content">

                                <h5 class="lp-block-title" style="font-size:25px;font:bold">Questionnaire</h5>
                                <div class="lp-block-text" style="text-align:justify;font-size:22px">Take a simple quiz to assess yourself regarding elder abuse. You can even use this quiz to assess someone that you are concerned about as well .</div>			
                                <a class="lp-block-readmore" style="font-size:22px" href="@Url.Action("Questionnaire","Questions", new { id = 1 })"> Read More <em class="screen-reader-text">"Questionnaire"</em> </a>
                            </div>
                            </a>
                    </div><!-- lp-block -->
                    <div class="lp-block block2">
                        @*<i class="flaticon-survey-1" style="display:inline;"></i>*@
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <a href="@Url.Action("Index","Information")">
                            <div class="lp-block-content">
                                <h5 class="lp-block-title" style="font-size:25px;font:bold">Information</h5>
                                <div class="lp-block-text" style="text-align:justify;font-size:22px">You can gain more support information like identifying Elder Abuse Types, &amp; the Signs of abuse and Risk factors. </div>
                                <a class="lp-block-readmore" style="font-size:22px" href="@Url.Action("Index","Information")"> Read More <em class="screen-reader-text">"Information"</em> </a>
                            </div>
                        </a>
                    </div><!-- lp-block -->
                </div>
            </section>

        </main><!-- #main -->
    </div><!-- #container -->
    <footer id="footer" class="cryout" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
        <div id="footer-inside">
            <a id="toTop"> <span class="screen-reader-text">Back to Top</span> <i class="icon-back2top"></i> </a><div id="site-copyright">H.E.L.P is a tool for senior and general public to detect elder abuse »<b></b> If you have any questions, please email us<a href="#"> thesentials@gmail.com</a>
                       
        </div> <!-- #footer-inside -->
            </div>
    </footer>
   </div>
