@*@Scripts.Render("~/Scripts/app.js")*@
@Styles.Render("~/Content/style.css")

@{
    ViewBag.Title = "Home Page";
}

<div id="content">

    <div id="container" >
        <main id="main" role="main" class="main">

            <section class="lp-staticslider">
                <img class="lp-staticslider-image" alt="H.E.L.P" src="~/img/a.jpg" style="margin-top:60px;max-width:100%;height:auto;max-height:565px;" />
                <div class="staticslider-caption">
                    <h2 class="staticslider-caption-title" style="font-size:4vw;color:#003547">H.E.L.P</h2>

                    <span class="staticslider-sep"></span>
                    <div class="staticslider-caption-text" style="font-size:3vw;;color:#003547">Help Elders Live Peacefully</div>
                    <div class="staticslider-caption-buttons">
                    </div>
                </div>
            </section><!-- .lp-staticslider -->
            <section>
                <div class="container"> 
                    <h2 style="text-align:center;font-size:30px"> Elder Abuse in the Society</h2>
                    <p class="lead lp-block-text" style="text-align:center;max-width:1100px;color:black">
                        Everyone deserves to live happily, peacefully, safely and in dignity. Elders need them more. According to international statistics, it is likely that 2% to 10% of older Australians are experiencing elder abuse in any given year considering the prevalence of neglect being quite high. However, most abuses are gone unreported due to the fact that the people do not know or understand that they are being abused. H.E.L.P provide an assessing tool that helps one to assess themselves or any elder that one knows, to understand the signs of abuse and to ensure that the abuse is reported or circumvented.

</div>
            </section>

                <section id="lp-blocks1" class="lp-blocks lp-blocks1 lp-blocks-rows-3" style="background-color:#FAFBFC">
                    <div class="lp-blocks-inside">
                        <div class="lp-block block1 col-sm-4">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <a href="@Url.Action("Questionnaire","Questions", new { id = 1 }) ">
                                <div class="lp-block-content">

                                    <h5 class="lp-block-title" style="font-size:25px;font:bold">Assessment Quiz</h5>
                                    <div class="lp-block-text" style="text-align:center;font-size:22px;color:dimgrey">Take a simple quiz to assess yourself regarding elder abuse. You can even use this quiz to assess someone that you are concerned about as well</div>
                                    <a class="lp-block-readmore" style="font-size:15px" href="@Url.Action("Questionnaire","Questions", new { id = 1 })"> Read More <em class="screen-reader-text">"Questionnaire"</em> </a>
                                </div>
                            </a>
                        </div><!-- lp-block -->
                        <div class="lp-block block2 col-sm-4">
                            @*<i class="flaticon-survey-1" style="display:inline;"></i>*@
                            <i class="glyphicon glyphicon-list"></i>
                            <a href="@Url.Action("Index","Information")">
                                <div class="lp-block-content">
                                    <h5 class="lp-block-title" style="font-size:25px;font:bold">Information</h5>
                                    <div class="lp-block-text" style="text-align:center;font-size:22px;color:dimgrey">You can gain more support information like identifying Elder Abuse Types, the Signs of abuse, Risk factors and how to prevent them</div>
                                    <a class="lp-block-readmore" style="font-size:15px" href="@Url.Action("Index","Information")"> Read More <em class="screen-reader-text">"Information"</em> </a>
                                </div>
                            </a>
                        </div><!-- lp-block -->
                        <div class="lp-block block2 col-sm-4">
                            @*<i class="flaticon-survey-1" style="display:inline;"></i>*@
                            <i class="glyphicon glyphicon-stats"></i>
                            <a href="@Url.Action("Index","Infographics")">
                                <div class="lp-block-content">
                                    <h5 class="lp-block-title" style="font-size:25px;font:bold">Infographics</h5>
                                    <div class="lp-block-text" style="text-align:center;font-size:22px;color:dimgrey">Understand how Elder abuse statistics are right now across Australia. See the responsive infographics to understand why elder abuse needs to be curbed</div>
                                    <a class="lp-block-readmore" style="font-size:15px" href="@Url.Action("Index","Infographics")"> Read More <em class="screen-reader-text">"Infographics"</em> </a>
                                </div>
                            </a>
                        </div><!-- lp-block -->
                    </div>
                </section>

        </main><!-- #main -->
    </div><!-- #container -->
   
   </div>
