<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>H.E.L.P &#8211; Help Elders Live Peacefully</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" ‌ />
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel='stylesheet' id='fluida-themefonts-css' href='~/content/fontfaces.css' type='text/css' media='all' />
    <link rel='stylesheet' id='fluida-googlefonts-css' href='//fonts.googleapis.com/css?family=Open+Sans%7COpen+Sans+Condensed300%7COpen+Sans%3A300%7COpen+Sans+Condensed%3A300%2C300%7COpen+Sans%3A700&#038;ver=1.5.6.1' type='text/css' media='all' />
    <link rel="stylesheet" id='fluida-main-css' href="~/Content/style.css" type='text/css' media='all' />
    <link rel='stylesheet' id='fluida-main-inline-css' type='text/css' href="~/Content/inline.css" />
    <script type='text/javascript' src="~/Scripts/jquery.js"></script>
    <script type='text/javascript' src="~/Scripts/jquery-migrate.min.js"></script>

</head>

<body class="home page-template-default page page-id-2 fluida-landing-page fluida-image-one fluida-caption-two fluida-totop-normal fluida-stripped-table fluida-fixed-menu fluida-responsive-headerimage fluida-responsive-featured fluida-magazine-two fluida-magazine-layout fluida-comment-placeholder fluida-elementshadow fluida-normalizedtags fluida-article-animation-fade fluida-menu-animation" itemscope itemtype="http://schema.org/WebPage">

    <header id="masthead" class="cryout" itemscope itemtype="http://schema.org/WPHeader" role="banner">

        <div id="site-header-main">
            <div id="site-header-main-inside">
                <div id="branding">
                    <div id="site-text"><h1 itemprop="headline" id="site-title">
                        <span>
                        <a href=""@Url.Action("Index","Home")" title="Help Elders Live Peacefully" rel="home">
                            H.E.L.P
                            </a>
                            </span>
                         </h1>
                    <span id="site-description" itemprop="description">Help Elders Live Peacefully</span></div>
                </div>
            <!-- #branding -->


               
                <nav id="access" role="navigation" aria-label="Primary Menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
                  
                    <div>
                        <ul id="prime_nav" class="">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-64">@Html.ActionLink("Home", "Index", "Home", null, new { hidefocus = "hidefocus" })</li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">@Html.ActionLink("Questions", "Questionnaire", "Questions", new { id = 1 }, new { hidefocus = "hidefocus" })</li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65">@Html.ActionLink("Information", "Index", "Information", null, new { hidefocus = "hidefocus" })</li>
                        </ul>
                    </div>
                </nav><!-- #access -->

            </div><!-- #site-header-main-inside -->
        </div><!-- #site-header-main -->

    </header><!-- #masthead -->

    <div class="container body-content">
        @RenderBody()
        <hr />


    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
