<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">

    <title>H.E.L.P &#8211; Help Elders Live Peacefully</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" ‌ />
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' id='fluida-themefonts-css' href='~/content/fontfaces.css' type='text/css' media='all' />
    <link rel="stylesheet" id='fluida-main-css' href="~/Content/style.css" type='text/css' media='all' />
    <link rel='stylesheet' id='fluida-main-inline-css' type='text/css' href="~/Content/inline.css" />
    <script type='text/javascript' src="~/Scripts/jquery.js"></script>
    <script type='text/javascript' src="~/Scripts/jquery-migrate.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://surveyjs.azureedge.net/1.0.41/survey.vue.js"></script>
    <script src="https://surveyjs.azureedge.net/1.0.41/survey.vue.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/assets/css/style_page.css">


    <!-- Favicon and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body class="home page-template-default page page-id-2 fluida-landing-page fluida-image-one fluida-caption-two fluida-totop-normal fluida-stripped-table fluida-fixed-menu fluida-responsive-headerimage fluida-responsive-featured fluida-magazine-two fluida-magazine-layout fluida-comment-placeholder fluida-elementshadow fluida-normalizedtags fluida-article-animation-fade fluida-menu-animation" itemscope itemtype="https://schema.org/WebPage">

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation" style="background-color:#0085B2; color:#0085B2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/img/helpbluelargeno.png" title="H.E.L.P" alt="Help Elders Live Peacefully" id="brand" style="padding-bottom:4px" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <ul id="nav" class="nav navbar-nav navbar-right" style="padding-bottom:8px">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Questionnaire","Questions", new { id = 1 })">Assessment Quiz</a></li>                  
                    <li><a href="@Url.Action("Index","Information")">Elder Abuse Information</a></li>
                    <li><a href="@Url.Action("Index","Infographics")">Infographics</a></li>
                    <li><a href="@Url.Action("Index","About")">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
        <hr />


    </div>
    <div>
        @RenderSection("scripts", required: false)
    </div>

    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12" >
                    <span class="logo" >
                        <img src="~/img/helpbluelargeno.png" title="H.E.L.P"  alt="Help Elders Live Peacefully" class="img_c" />
                        <p class="logo" style="text-align:center">H.E.L.P is an online assessment tool for seniors and general public to detect elder abuse</p>
                    </span>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="menu">
                        <div class="logo" style="border-bottom: 1px solid #c7c7c7;
    display: block;
    text-transform: uppercase;">References</div>
                        <li><a href="https://aifs.gov.au/publications/elder-abuse" target="_blank">Australian Institure of Family Studies</a></li>
                        <li><a href="http://www.dvrcv.org.au/support-services/victorian-services" target="_blank">Elder Abuse Hotline</a></li>
                        <li><a href="http://www.elderabusehelpline.com.au/" target="_blank">Elder Abuse - NSW</a></li>
                        <li><a href="https://www.eapu.com.au/" target="_blank">Elder Abuse Prevention Unit</a></li>
                        <li><a href="https://www.myagedcare.gov.au/" target="_blank">My Aged Care</a></li>
                        <li><a href="https://www.data.vic.gov.au/" target="_blank">Open Data -Victoria</a></li>
                        <li><a href="https://seniorsrights.org.au/" target="_blank">Senior Rights Victoria</a></li>
                        <li><a href="https://www.whiteribbon.org.au/find-help/domestic-violence-hotlines/" target="_blank">White Ribbon</a></li>
                        <li><a href="http://www.who.int/ageing/projects/elder_abuse/en/" target="_blank">World Health Organization</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" style="">
                    <p class="logo">Web Design & Development by The Sentinels </p><br />
                    <img src="~/img/Untitled6.jpg" style="max-height:120px;max-width:180px" class="img_c" />
                </div>


            </div>
        </div>
    </footer>

</body>

</html>
<script>
    var min = 8;
    var max = 25;
    function increaseFontSize() {
        var p = document.getElementById('fontChange').getElementsByTagName('p');
        for (i = 0; i < p.length; i++) {
            if (p[i].style.fontSize) {
                var s = parseInt(p[i].style.fontSize.replace("px", ""));
            } else {
                var s = 14;
            }
            if (s != max) {
                s += 1;
            }
            p[i].style.fontSize = s + "px"
        }

    }
    function decreaseFontSize() {
        var p = document.getElementById('fontChange').getElementsByTagName('p');
        for (i = 0; i < p.length; i++) {
            if (p[i].style.fontSize) {
                var s = parseInt(p[i].style.fontSize.replace("px", ""));
            } else {
                var s = 14;
            }
            if (s != min) {
                s -= 1;
            }
            p[i].style.fontSize = s + "px"
        }

    }
</script>
